
<div class="block block-drop-shadow">
    <div class="head bg-default bg-light-ltr">
        <h2>AGENDA</h2>

    </div>
    <div class="content list">
        <table id="table-agenda-list" class="table table-bordered table-striped sortable">
            <thead>
                <tr>
                    <th>
                        NO
                    </th>
                    <th>
                        HARI
                    </th>
                    <th>
                        TANGGAL
                    </th>
                    <th>
                        JAM
                    </th>
                    <th>
                        URAIAN
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>