
<div class="block block-drop-shadow">
    <div class="head bg-default bg-light-ltr">
        <h2>GRAFIK</h2>

    </div>
    <div class="content list">
        <table id="table-grafik-list" class="table table-bordered table-striped sortable">
            <thead>
                <tr>
                    <th>
                        Tahun Anggaran
                    </th>
                    <th>
                        Anggaran
                    </th>
                    <th>
                        Realisasi
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>