
<div class="row">
    <div class="col-md-9">
        <div class="block block-drop-shadow">
            <div class="head bg-default bg-light-ltr">
                <h2>Realisasi Tahun @DateTime.Now.Year</h2>

            </div>
            <div class="content list">
                <table id="table-list" class="table table-bordered table-striped sortable">
                    <thead>
                        <tr>
                            <th>
                                NO
                            </th>
                            <th>
                                UNIT/SKPD
                            </th>
                            <th>
                                TOTAL ANGGARAN
                            </th>
                            <th>
                                TOTAL REALISASI
                            </th>
                            <th>
                                PERSENTASE(%)
                            </th>
                            <th>
                                SISA ANGGARAN
                            </th>
                            <th>
                                Status
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="block block-drop-shadow">
            <div class="head bg-dot30">
                <h2>Usulan</h2>
                <div class="side pull-right">
                    <ul class="buttons">
                        <li><a href="#"><span class="icon-refresh"></span></a></li>
                        <li><a href="#"><span class="icon-cogs"></span></a></li>
                    </ul>
                </div>
                <div class="head-panel nm">
                    <div class="chart" id="dash_chart_2" style="height: 150px;"></div>
                </div>
            </div>

            @*<div class="head bg-dot30">
                <div class="head-panel nm">
                    <div class="hp-info pull-left">
                        <div class="hp-icon">
                            <span class="icon-globe"></span>
                        </div>
                        <span class="hp-main">12,480</span>
                        <span class="hp-sm">Total visits</span>
                    </div>
                    <div class="hp-info pull-left">
                        <div class="hp-icon">
                            <span class="icon-desktop"></span>
                        </div>
                        <span class="hp-main" style="margin-left: 35px;">10,140</span>
                        <span class="hp-sm" style="margin-left: 35px;">Desktop</span>
                    </div>
                    <div class="hp-info pull-left">
                        <div class="hp-icon">
                            <span class="icon-laptop"></span>
                        </div>
                        <span class="hp-main" style="margin-left: 35px;">1,204</span>
                        <span class="hp-sm" style="margin-left: 35px;">Desktop</span>
                    </div>
                    <div class="hp-info pull-left">
                        <div class="hp-icon">
                            <span class="icon-tablet"></span>
                        </div>
                        <span class="hp-main">322</span>
                        <span class="hp-sm">Tablet</span>
                    </div>
                    <div class="hp-info pull-left">
                        <div class="hp-icon">
                            <span class="icon-mobile-phone"></span>
                        </div>
                        <span class="hp-main">814</span>
                        <span class="hp-sm">Mobile</span>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
    <div class="col-md-3">
        <div class="content list-group list-group-icons">
            @Html.Partial("_Slide")
        </div>
        <div class="content list-group list-group-icons">
            @Html.Partial("_Agenda")
        </div>
    </div>
</div>
<div class="row">
    <div class="page-footer">
        <div class="page-footer-wrap">
            <div>
                @foreach (var item in (List<Dppkad.Models.BeritaSkpdInfo>)ViewBag.BeritaViewInfo)
                {
                    <marquee direction="right">
                        @item.News
                    </marquee>
                }
            </div>
        </div>
    </div>
</div>